.ui-icon { 
    zoom: 200%; 
    -moz-transform: scale(2); 
    -webkit-zoom: 2; 
    -ms-zoom: 2;
}
img{
    margin:auto;
    width:100%;
}
#form{
        text-align: center;
    	margin: auto;
        position: absolute;
	width: 60%;
        min-height: 100% !important;
	display:inline-block; 
        background: #F4E7C7;
        background-color: #F4E7C7;
}
#baloldal{
	width: 20%;
	height: 10px;
	float : left;
	display:inline-block; 
	overflow: auto;
}
html { 
  background: url(../images/darkwall3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}