
#HideLogin{
    width: 15%;
    display: inline-block;
    text-align: center;
    float: right;
    margin: 100px 20px 30px;
    border-left: 4px solid #ECF0F1;
    border-right: 5px solid #ECF0F1;
    border-bottom: 5px solid #ECF0F1;
    border-top: 4px solid #ECF0F1;
}
body{
    background: #424242;
    margin: auto;
}
h2{
    color: #99ccff;
    
}
.asd{
    background-image: url('remove.png') !important;
} 
#torol{
    height:20%;
    width: 20%;
    min-height: 20% !important;
    min-width: 20% !important;
}
h1{
    text-align: center;
}
img{
    margin:auto;
    width:100%;
}
#fooldal{
    	margin: auto;
        position: absolute;
	width: 60%;
        min-height: 100% !important;
	display:inline-block; 
        background: #F4E7C7;
        background-color: #F4E7C7;
}
#baloldal{
	width: 20%;
	height: 10px;
	float : left;
	display:inline-block; 
	overflow: auto;
}
p{
    font-size: 20px;
    text-align: justify
}