
body{
    background: #424242;
    margin: auto;
}
h2{
    color: #002338;
    
}
h1{
    text-align: center;
}
img{
    margin:auto;
    width:100%;
}
#fooldal{
        text-align: center;
    	margin: auto;
        position: absolute;
	width: 60%;
        min-height: 100% !important;
	display:inline-block; 
        background: #F4E7C7;
        background-color: #F4E7C7;
}
#baloldal{
	width: 20%;
	min-height: 100% !important;
	float : left;
	display:inline-block; 
	overflow: auto;
        text-align: center;
}
#elozo{
        color: #99ccff;
}
#map-canvas{
    min-height: 100% !important; 
    height: 100%;
}
.wizza{
    display: none;
}
#wizard{
    display: none;
}
.utazas{
    display: none;
}
#utazasterv{
    display: none;
}
#uj,folytat{
    display: block;
}
.stylefolytat{
    display: block;
}
.styleuj{
    display: block;
}