
body{
    background: #424242;
    margin: auto;
}
h2{
    color: #002338;
    
}
h1{
    text-align: center;
}
img{
    margin:auto;
    width:100%;
}
#fooldal{
    	margin: auto;
	width: 60%;
        position:absolute;
	height: 100%;
        min-height: 100% !important;
	display:inline-block; 
        background: #F4E7C7;
        text-align: center;
}
#baloldal{
	width: 20%;
	height: 1000px;
	float : left;
	display:inline-block; 
	overflow: auto;
        text-align: center;
}
#elozo{
        color: #99ccff;
}
#map-canvas{
    min-height: 100% !important; 
    height: 100%;
}